main {
    width: fit-content;
    margin: 50px auto;
}

.title {
    width: fit-content;
    margin: 80px auto 10px;
    font-size: 270%;
}

.overview {
    width: fit-content;
    margin: 20px auto 10px;
}

.text {
    text-align: center;
}