main {
    width: fit-content;
    margin: 50px auto;
}

.title {
    width: fit-content;
    margin: 10px auto 20px;
    font-size: 250%;
}

.overview {
    width: fit-content;
    margin: 20px auto 10px;
}

.text {
    text-align: center;
}