main {
    width: fit-content;
    margin: 50px auto;
}

.block {
    margin: auto;
}

.title {
    width: fit-content;
    margin: 15px auto;
    font-size: 250%;
}

.subtitle {
    margin: 10px 0px 0px;
    text-align: center;
}

.overview {
    width: fit-content;
    margin: 10px auto 10px;
}

.rule {
    width: fit-content;
    margin: 15px auto 10px;
}

.text {
    margin: 0px 15px;
}

.center-text {
    text-align: center;
    margin: auto;
}